<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/tool
        http://www.springframework.org/schema/tool/spring-tool.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <!-- 自动扫描 -->
  <!-- <context:component-scan base-package="com.hy" />-->
  <!-- 引入配置文件 -->
  <!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
  <!--<property name="location" value="classpath:jdbc.properties" />-->
  <!--</bean>-->
  <!--*********************************************【Druid】*********************************************************-->
  <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/huayu?serverTimezone=GMT&amp;characterEncoding=utf-8"/>
    <property name="username" value="root"/>
    <property name="password" value="521314"/>
  </bean>
  <!--***************************【spring和MyBatis完美整合，不需要mybatis的配置映射文件】******************************-->
  <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="configLocation" value="classpath:mybatis_cfig.xml"/>
  </bean>
  <!--*************【mapper接口的扫描器 Spring会自动查找其下的类 ,包下的类需要使用@Mapper注解,否则容器注入会失败】*******-->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="com.hy.yiya"/>
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
  </bean>
  <!--*****************************-**【加载mybist plus queryWrapper容器】********************************************-->
  <bean id="queryWrapper" class="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper"></bean>


  <!--扫描注解 提交前删除-->
  <context:component-scan base-package="com.hy"></context:component-scan>

</beans>
